
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
}
body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1512273222628-4daea6e55abb?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW9udGFuaGFzJTIwZGUlMjBuZXZlfGVufDB8fDB8fHww");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.BackgroundLogin{ 
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 50%;
  margin-right: 100px;
  margin-top: 4%;
}
.BackgroundLogin h1{
  padding: 5px;
  width: 100%;
  font-size: 45px;
  border-radius: 5px;
  
}
.tabela-container {
  width: 100%;
max-width: 28px;
max-height: 100px; 
overflow-y: auto;  
border: 1px solid #ccc;
}
table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
  margin-left: 500px;
}

th, td {
  padding: 5px;
  text-align: center;
}
th { 
  background: #f2f2f2;
  position: sticky;
  top: 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e9ecef;
  transition: 0.3s;
}
.custom-file-upload {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

input[type="file"] {
  display: none;
}

.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid green;
  background-color: #2f017f;
  border-radius: 20px;
  padding: 20px;
}

.modal-overlay {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(154, 62, 62, 0.8);
}
.modal-overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-content {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.ReactModal__Content--after-open {
  transform: scale(1);
  opacity: 1;
}

.ReactModal__Content--before-close {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  border-radius: 5px;
}

.close {
  color: red;
  float: right;
  font-size: 28px;
  cursor: pointer;
}
#modalclose { 
 justify-items: left;
  color:#61dafb;
}

